@font-face {
  font-family: "iconfont"; /* 定义一个名为iconfont的字体 */
  src: url("iconfont.eot"); /* 指定字体文件的路径 */
  src: url("iconfont.eot?#iefix") format("embedded-opentype"), 
       url("iconfont.woff") format("woff"), 
       url("iconfont.ttf") format("truetype"), 
       url("iconfont.svg#iconfont") format("svg"); /* 指定不同格式的字体文件，以适应不同的浏览器 */
}
.iconfont {
  font-family: "iconfont" !important; /* 强制使用iconfont字体 */
  font-size: 16px; /* 设置字体大小 */
  font-style: normal; /* 设置字体样式为正常 */
  -webkit-font-smoothing: antialiased; /* 设置字体平滑效果为抗锯齿 */
  -webkit-text-stroke-width: 0.2px; /* 设置字体描边宽度 */
  -moz-osx-font-smoothing: grayscale; /* 设置字体平滑效果为灰度 */
}
.footer-content {
  display: -webkit-box; /* 设置显示方式为弹性盒子模型，兼容旧版webkit浏览器 */
  display: -ms-flexbox; /* 设置显示方式为弹性盒子模型，兼容旧版IE浏览器 */
  display: flex; /* 设置显示方式为弹性盒子模型，适用于现代浏览器 */
  width: 1280px; /* 设置宽度为1280px */
  margin: 0 auto; /* 设置外边距为0，自动居中 */
  background-color: #87CEFA; /* 设置背景颜色为淡蓝色 */
  color: rgb(0, 0, 0); /* 设置字体颜色为白色 */
  border-radius: 10px; /* 设置边框圆角为10px */
  text-align: center; /* 设置文本对齐方式为居中 */
}